

.artist-list-heading{
   display: flex;
   justify-content: center;
   color: #898092;
   font-family: 'Franklin Gothic Medium', cursive;
  }

  .artist-list-display{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      font-family: 'Franklin Gothic Medium', cursive;
      /* border: 2px  solid #DCCEFF ; */
      /* outline: 2px dashed #674D80 ; */
  }

  .more-info{
      color:#898092;
      font-family: 'Franklin Gothic Medium', cursive;
      display: flex;
      justify-content:center;   
  }

  .artist-data-title,
   .artist-data-description{
    color:#898092;
    font-family: 'Franklin Gothic Medium', cursive;
    display: flex;
    justify-content:center;
   
}
  .artist-data-description{
    display: flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium';
    font-weight:lighter;

  }
  

  @media only screen and (min-width: 768px) {
    aside {
       width: 30%;
       height: 100%;
     }
 }