

.artist-list-heading{
   display: flex;
   justify-content: center;
   color: #898092;
   font-family: 'Franklin Gothic Medium';
  }

  .artist-list-display{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      font-family: 'Franklin Gothic Medium';
      border: 2px  solid #DCCEFF ;
      /* outline: 2px dashed #674D80 ; */
  }

  .more-info{
      color:#898092;
      font-family: 'Franklin Gothic Medium';
      display: flex;
      justify-content:center;   
  }

  .artist-data-title,
  .artist-data-description{
    color:#898092;
    font-family: 'Franklin Gothic Medium';
    display: flex;
    justify-content:center;
    border: 2px  solid #DCCEFF ;
   
  }
  