.home-page-title{
    display: flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium', cursive;
}

.greeting-intro{
    display: flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: x-large;
    padding: 10px;
    margin: 30px 30px;
  
}

.list-start{
    display: flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: x-large;

}

.super-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.home-art-flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #DCCEFF;

}

.home-art-flex-container > .one{
    /* flex: 1 1 160px; */
    background-color: #F8FCDF;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: medium;
    color: #898092;
    font-family: 'Franklin Gothic Medium', cursive;
}



@media only screen and (min-width: 768px) {
    aside {
       width: 30%;
       height: 100%;
     }
 }