.media-title{
    display:flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium';
    ;
}

.article-list-display{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    border: 2px  solid #DCCEFF ;
}

h1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    color: #898092;
   
}