.media-title{
    display:flex;
    justify-content: center;
    color: #898092;
    font-family: 'Franklin Gothic Medium', cursive;
    ;
}

.article-list-display{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', cursive;
    /* border: 2px  solid #DCCEFF ; */
}

h1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', cursive;
    color: #898092;
   
}

.heading-detail{
  display:flex;
  justify-content: center;
  color: #898092;
  font-family: 'Franklin Gothic Medium', cursive;
}

.article-title{
  display:flex;
  justify-content: center;
  color: #898092;
  font-family: 'Franklin Gothic Medium', cursive;
  font-size: x-large;
}

.article-date {
  display:flex;
  justify-content: center;
  color: #898092;
  font-family: 'Franklin Gothic Medium';
  font-size:large;
}

.article-piece{
  display:flex;
  justify-content:flex-start;
  color: #898092;
  font-family: 'Franklin Gothic Medium';
  font-size: large;
  padding: 10px;
  margin: 30px 30px;
}



@media only screen and (min-width: 768px) {
    aside {
       width: 30%;
       height: 100%;
     }
 }
/* 
 @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  } */