body{
  border: 1;
}

nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #DCCEFF;
  font-family:'Franklin Gothic Medium';
  padding: 0 20px;
  height: 40px;
  width: auto;
}

.website-title {
  display: flex;
 color: #674D80 ;
}

